<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Home</title>
    <link href="/stylesheets/bootstrap.css" rel="stylesheet">
    <link href="/stylesheets/sticky-footer.css" rel="stylesheet">
   <link href="/stylesheets/home.css" rel="stylesheet">
   <link href="/stylesheets/datepicker.css" rel="stylesheet">
   <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
   
  </head>
  <body>
<div>
    <div class="container">
        <div class="row">
            <!-- main right col -->
            <div class="column col-large-12 col-xs-11" id="main" align="center">
                
                <!-- top nav -->
                <div class="navbar navbar-blue">  
                    <!-- <div class="navbar-header">
                      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle</span>
                        <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                      </button>
                      <a href="/" class="navbar-brand logo">b</a>
                    </div> -->
                    <nav class="collapse navbar-collapse" role="navigation">
                    <form class="navbar-form navbar-left">
                        <div class="input-group input-group-sm" style="max-width:360px;">
                          <input type="text" class="form-control" placeholder="Search" name="srch-term" id="srch-term">
                          <div class="input-group-btn">
                            <button class="btn btn-default" data-target="#addStory" data-toggle="modal"><span class="glyphicon glyphicon-search"></span></button>
                          </div>
                        </div>
                    </form>
                    <ul class="nav navbar-nav">
                      <li>
                        <a href="/profile">My Profile</a>
                      </li>
                      <li>
                        <a href="/logout" class="right" role="button" data-toggle="modal">Logout</a>
                      </li>                      
                    </ul>                    
                    </nav>
                </div>
            </div>
            <div class="modal fade" id="addStory" tabindex="-1" role="dialog" aria-labelledby="lstatus" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
              </button>
              <h4 class="modal-title" id="lstatus">Enter the Story details below:</h4>
            </div>
            <div class="modal-body">
              <form name="storyForm" id = "storyForm">
                  <div data-ng-repeat = "column in columnList">
                    <label>Enter the value for:&nbsp;{{column}}</label>
                      <input class ="story">
                  </div>
                  <label>Story Name</label>
                  <input id="storyName" required>
                  <label>Points:&nbsp;</label>
                  <input type="number" id = "points" min=1 required>
                  <div>
                    <label>Sprint:&nbsp;<span style="color:red;font-size:11px;"/> (completed sprints are disabled for selection)</label>
                    <select data-placement = "top" class="selectpicker" id="addStorySprintPicker" data-style="btn-success" required>
                      <option data-ng-repeat = "sprint in sprintIdList" ng-disabled = "(sprint.sprintStatus == 2)">{{sprint.sprintId}}</option>
                      <option value="" selected></option>
                    </select>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-ng-click = "" data-dismiss="modal"><span class="glyphicon glyphicon-remove-sign"></span></button>
              <button type="button" class="btn btn-primary" data-ng-click = "addStory()" data-dismiss="modal"><span class="glyphicon glyphicon-ok-circle"></span></button>
            </div>
          </div>
        </div>
      </div>
        </div>
    </div>
</div>


<!--post modal-->
<div id="postModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
  <div class="modal-content">
      <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      Update Status
      </div>
      <div class="modal-body">
          <form class="form center-block">
            <div class="form-group">
              <textarea class="form-control input-lg" autofocus="" placeholder="What do you want to share?"></textarea>
            </div>
          </form>
      </div>
      <div class="modal-footer">
          <div>
          <button class="btn btn-primary btn-sm" data-dismiss="modal" aria-hidden="true">Post</button>
            <ul class="pull-left list-inline"><li><a href=""><i class="glyphicon glyphicon-upload"></i></a></li><li><a href=""><i class="glyphicon glyphicon-camera"></i></a></li><li><a href=""><i class="glyphicon glyphicon-map-marker"></i></a></li></ul>
      </div>  
      </div>
  </div>
  </div>
</div>
</body>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</html>