<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Profile</title>
    <link href="/stylesheets/bootstrap.css" rel="stylesheet">
    <link href="/stylesheets/profile.css" rel="stylesheet">
    <link href="/stylesheets/custom.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.5.4/bootstrap-select.min.css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  </head>

  <body ng-app="profile" ng-controller="profileCtrl" onunload = "onBack()">      
        <nav class="navbar navbar-blue navbar-static-top" role="navigation">
          <img align="center" height="120px" src="/img/blue.jpg" style="margin-left:30px;" width="96%">        
              <ul class="nav navbar-nav">
                <li><h4 style="margin-left:40px;margin-top:20px;">Search for people or groups</h4></li>
                <li><a href="#"></a></li>                
                <li><div class="input-group input-group-sm" style="max-width:250px;margin-top:16px;">
                          <input type="text" class="form-control" placeholder="Search" name="srch-term" id="srch-term">
                          <div class="input-group-btn">
                            <button class="btn btn-default" data-target="#search" data-toggle="modal"><span class="glyphicon glyphicon-search"></span></button>
                          </div>
                        </div></li>
                
                <li class="right" style="position:absolute;right:250px;"><button data-target="#notif" data-toggle="modal" class="btn btn-link"><h4>Notifications</h4></button></li>
                <li class="right" style="position:absolute;right:150px;"><button class="btn btn-link" ng-click="home()"><h4>Home</h4></button></li>
                <li class="right" style="position:absolute;right:30px;"><button class="btn btn-link" ng-click="logout()"><h4>Sign Out</h4></button></li>
              </ul>
        </nav>
        
            <div class="fb-profile">
                <!-- <div class="row"> -->
                  
                <div class="col-sm-12">
                  <div class="col-sm-1" style="margin-left:0px;">
            <p></p>
          </div>          

          <div class="fb-profile" style="margin-left:20px;">
            <div class="panel panel-default">
              <div class="panel-body">
                <p class="lead">News Feed</p>
                <p>See your timeline posts here</p>
              </div>
              <div ng-show="(user.posts.length > 0)" ng-repeat="post in user.posts">
                <div class="panel panel-default" style="margin-left:30px;margin-right:20px" >
                  <div class="panel-body">
                    <p>{{post.pDesc}}</p>
                    <p>{{post.pDate}}</p>
                  </div>
                </div>
            </div>
            </div>
          </div>                      
            </div>
        </div>
</body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script>
  
  $(window).on("navigate", function (event, data) {
    var direction = data.state.direction;
    console.log("direction = " + direction);
    if (direction == 'back') {
        window.location = '/profile';
    }
});
  var app = angular.module('profile', []);
      app.controller('profileCtrl', function($http, $scope) {
        
        var refresh = function() {
            $http.get('/getData').success(function (response) {
              $scope.user = response.userProfile;
              console.log(response);
            }).error(function(error){
                alert(error);
            });
        };

        refresh();      
        $scope.logout = function() {
          $http({
                  method: 'POST',
                  url: '/logout'
                  }).success(function(response){
                    window.location='/';
                  }).error(function(error){
                      alert(error);
              });
        }

        $scope.home = function() {
          $http.get('/home').success(function (){
            window.location = '/home';
          }).error(function (err) {
              alert(err);
          }); 
        };

        $scope.acceptFR = function(userid) {
          $http({
              method: 'POST',
              url: '/addFriend',
              data: {
                "frndname": userid
              }
            }).success(function(response) {
                console.log("add success");
                refresh();
            }).error(function(err) { 
                alert(err);
                console.log("error occured " + err);
            });
        };
        $scope.addPost = function() {
          var pDesc = $("#postForm *").filter("input[id='post']").val();
          $http({
            method: 'POST',
            url: '/post',
            data: {
              "username" : $scope.username,
              "desc" : pDesc
            }
          }).success(function(response) {
            refresh();
          }).error(function(err) {
            alert(err);
          });
        };

        $scope.viewProfile = function(userId) {
          console.log("Inside viewProfile");
          $http.get('/user/' + userId).success(function(response) {
            window.location = '/user/' + userId;
          }).error(function (error) {
            console.log(error);
          });
        };
    });
      
</script>
</html>